<h3>
    Update Customer
  </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Customer Id</label>
            <input type="text" class="form-control" id="cid" required [(ngModel)]="customer.customer_id" name="eid">
          </div>
      
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="cname" required [(ngModel)]="customer.first_name" name="firstname">
          </div>
          <div class="form-group">
              <label for="name">Last Name</label>
              <input type="text" class="form-control" id="tech" required [(ngModel)]="customer.last_name" name="lastname">
            </div>
     
            <div class="form-group">
             <label for="name">gender</label>
             <input type="text" class="form-control" id="cgender" required [(ngModel)]="customer.gender" name="gender">
           </div>
     
           <div class="form-group">
             <label for="name">Address</label>
             <input type="text" class="form-control" id="caddress" required [(ngModel)]="customer.address" name="address">
           </div>
     
           <div class="form-group">
             <label for="name">Contact Number</label>
             <input type="text" class="form-control" id="contactno" required [(ngModel)]="customer.contact_number" name="contact">
           </div>

  <button style='margin-right:16px' class="btn btn-success">Submit</button>
  <button style='margin-right:16px'  class="btn btn-success">Back to Customer</button>
  
  </form>
  
